/*                KEY POSITIONS
  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

#undef COMBO_TERM
#define COMBO_TERM 50
ZMK_COMBO(capsword,  &caps_word,  LT2 RT2, DEF)
ZMK_COMBO(hyper,     &sk HYPER,   LT3 LT2, DEF NUM)
ZMK_COMBO(meh,       &sk MEH,     RT2 RT3, DEF)

ZMK_COMBO(vimac,     &kp VIMAC,   LT2 RT1, DEF)
ZMK_COMBO(esc,       &kp ESC,     LB3 LB2, DEF)
ZMK_COMBO(esc2,      &kp ESC,     LB2 LB1, DEF)
ZMK_COMBO(alfrLower, &kp ALFR,    LB1 RB1, DEF)
ZMK_COMBO(alfrInner, &kp ALFR,    LM0 RM0, DEF)
ZMK_COMBO(cxts,      &kp CTXS,    LB2 RB2, DEF)

ZMK_COMBO(bootL,     &bootloader, LB4 LM4 LT4, NAV)
ZMK_COMBO(bootR,     &bootloader, RB4 RM4 RT4, SYM)

ZMK_COMBO(lock,      &to LCK,     RT1 LB3, DEF)
ZMK_COMBO(unlock,    &to DEF,     RT2 LB3, LCK)
